{% load currency_display %}

{% if not divless %}
<div class="{% if text_end %}tw:text-end{% elif text_start %}tw:text-start{% endif %}">
{% endif %}
  <span class="amount{% if color == 'grey' or color == "gray" %} tw:text-base-content/70{% elif color == 'green' %} tw:dark:text-green-400 tw:text-green-600 {% elif color == 'red' %} tw:dark:text-red-400 tw:text-red-600{% endif %} {{ custom_class }}"
       data-original-value="{% currency_display amount=amount prefix=prefix suffix=suffix decimal_places=decimal_places %}"
       data-amount="{{ amount|floatformat:"-40u" }}">
  </span><span>{{ slot }}</span>
{% if not divless %}
</div>
{% endif %}
