{% load currency_display %}
{% load i18n %}
{% if from_currency and to_currency %}
<div class="card-body show-loading" hx-get="{% url 'exchange_rates_list_pair' from_currency=from_currency to_currency=to_currency %}" hx-trigger="updated from:window" hx-swap="outerHTML">
{% else %}
<div class="card-body show-loading" hx-get="{% url 'exchange_rates_list_pair' %}" hx-trigger="updated from:window" hx-swap="outerHTML">
{% endif %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-auto"></th>
          <th scope="col" class="col-auto">{% translate 'Date' %}</th>
          <th scope="col" class="col">{% translate 'Pairing' %}</th>
          <th scope="col" class="col">{% translate 'Rate' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for exchange_rate in exchange_rates %}
        <tr class="exchange-rate">
          <td class="col-auto">
            <a class="text-decoration-none tw-text-gray-400 p-1"
                  role="button"
                  data-bs-toggle="tooltip"
                  data-bs-title="{% translate "Edit" %}"
                  hx-get="{% url 'exchange_rate_edit' pk=exchange_rate.id %}"
                  hx-target="#generic-offcanvas"
                  hx-swap="innerHTML">
              <i class="fa-solid fa-pencil fa-fw"></i></a>
            <a class="text-danger text-decoration-none p-1"
                    role="button"
                    data-bs-toggle="tooltip"
                    data-bs-title="{% translate "Delete" %}"
                    hx-delete="{% url 'exchange_rate_delete' pk=exchange_rate.id %}"
                    hx-trigger='confirmed'
                    hx-swap="innerHTML"
                    data-bypass-on-ctrl="true"
                    data-title="{% translate "Are you sure?" %}"
                    data-text="{% translate "You won't be able to revert this!" %}"
                    data-confirm-text="{% translate "Yes, delete it!" %}"
                    _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a></td>
          <td class="col-auto">{{ exchange_rate.date|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td class="col"><span class="badge rounded-pill text-bg-secondary">{{ exchange_rate.from_currency.code }}</span> x <span class="badge rounded-pill text-bg-secondary">{{ exchange_rate.to_currency.code }}</span></td>
          <td class="col">1 {{ exchange_rate.from_currency.code }} ≅ {% currency_display amount=exchange_rate.rate prefix=exchange_rate.to_currency.prefix suffix=exchange_rate.to_currency.suffix decimal_places=exchange_rate.to_currency.decimal_places%}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
