{% load i18n %}
{% load title %}
{% load webpack_loader %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% filter site_title %}
        {% block title %}
        {% endblock title %}
      {% endfilter %}
    </title>

    {% include 'includes/head/favicons.html' %}

    {% include 'includes/styles.html' %}
    {% block extra_styles %}{% endblock %}
  
    {% include 'includes/scripts.html' %}
    {% block extra_js_head %}{% endblock %}
  </head>
  <body class="font-monospace">
    <div _="install hide_amounts
            install htmx_error_handler
           {% block body_hyperscript %}{% endblock %}">
      {% include 'includes/navbar.html' %}

      <div class="container tw-hidden" id="loading-error">
        <div class="alert alert-danger m-3 alert-dismissible swing-in-top-fwd" role="alert">
          {% translate 'Something went wrong loading your data. Try reloading the page or check the console for more information.' %}
          <button type="button" class="btn-close" aria-label="Close" id="loading-error-close"></button>
        </div>
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
      
      {% include 'includes/offcanvas.html' %}
      {% include 'includes/toasts.html' %}
    </div>
    
    {% block extra_js_body %}{% endblock %}
  </body>
</html>
