{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %}{% translate 'Quick Transactions' %}{% endblock %}

{% block content %}
<div class="tw:container tw:px-md-3 tw:py-3 tw:column-gap-5">
  <div class="tw:text-3xl tw:font-bold tw:font-mono tw:w-full tw:mb-3">
    {% spaceless %}
    <div>{% translate 'Quick Transactions' %}<span>
      <a class="tw:no-underline tw:text-2xl tw:p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'quick_transaction_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div id="quick-transactions-table" class="show-loading" hx-get="{% url 'quick_transactions_list' %}" hx-trigger="load, updated from:window"></div>
</div>
{% endblock %}
