{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %}{% translate 'Quick Transactions' %}{% endblock %}

{% block content %}
<div class="container px-md-3 py-3 column-gap-5">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Quick Transactions' %}<span>
      <a class="no-underline text-2xl p-1 category-action"
                role="button"
                data-tippy-content="{% translate "Add" %}"
                hx-get="{% url 'quick_transaction_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div id="quick-transactions-table" class="show-loading" hx-get="{% url 'quick_transactions_list' %}" hx-trigger="load, updated from:window"></div>
</div>
{% endblock %}
