COMPOSE_FILE=
SERVER_NAME=
DB_NAME=
REDIS_NAME=
CELERYWORKER_NAME=
CELERYBEAT_NAME=
FLOWER_NAME=

DEBUG=true
URL = https://mais.alcanceconsulting.com.br
HTTPS_ENABLED=true
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
OUTBOUND_PORT=9005

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=alcance_mais
SQL_USER=
SQL_PASSWORD=
SQL_HOST=alcance_mais_pg
SQL_PORT=5432

BREVO_API_KEY=

MINIO_ACCESS_KEY=
MINIO_ENDPOINT=
MINIO_SECRET_KEY=
MINIO_CONTAS_AVATARS_BUCKET=
MINIO_ENTREGAVEIS_BUCKET=
MINIO_CLIENTES_LOGOS_BUCKET=

# Recaptcha
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_REQUIRED_SCORE=0.6

# Celery
CELERY_BROKER_URL=redis://${REDIS_NAME}
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=

# Gunicorn
WEB_CONCURRENCY=4
