Django~=5.1
psycopg[binary]==3.2.3
python-webpack-boilerplate==1.0.3
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-browser-reload==1.12.1
django-hijack==3.4.5
django-filter==24.3
django-debug-toolbar==4.3.0
django-cachalot~=2.6.3
django-cotton~=1.2.1
django-pwa~=2.0.1
djangorestframework~=3.15.2
drf-spectacular~=0.27.2

gunicorn==22.0.0
whitenoise[brotli]==6.6.0

watchfiles==0.24.0  # https://github.com/samuelcolvin/watchfiles
procrastinate[django]~=2.14

requests~=2.32.3

pytz~=2024.2
python-dateutil~=2.9.0.post0
simpleeval~=1.0.0
pydantic~=2.10.5
PyYAML~=6.0.2
mistune~=3.1.1
openpyxl~=3.1
xlrd~=2.0
