@import "variables";
@import "font-awesome.scss";
@import "tailwind.scss";
@import "bootstrap.scss";
@import "tom-select.scss";
@import "animations.scss";
@import "scrollbar.scss";

.sticky-sidebar {
  position: sticky;
  top: 10px;
}

// Somewhat prevents flickering when replacing with Tom-select
select[multiple] {
  visibility: hidden;
}

.font-base {
  font-family: $font-family-base;
}

::selection {
  color: $gray-800;
  background-color: $primary;
}
