@import "tailwindcss" prefix(tw) source("../../../app/templates/");

@plugin "daisyui" {
  themes: dark --default, light;
  logs: true;
}
@plugin "tw-bootstrap-grid";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(87% 0.169 91.605);
  --color-primary-content: oklch(41% 0.112 45.904);
  --color-secondary: oklch(44% 0.043 257.281);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(70% 0.01 56.259);
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(87% 0.169 91.605);
  --color-primary-content: oklch(41% 0.112 45.904);
  --color-secondary: oklch(44% 0.043 257.281);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(70% 0.01 56.259);
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@custom-variant dark (&:where([data-bs-theme=dark], [data-bs-theme=dark] *), &:where([data-theme=dark], [data-theme=dark] *));
@custom-variant hover (&:hover);


@layer utilities {
    .transaction:has(input[type="checkbox"]:checked) > div > .transaction-item {
        background-color: --alpha(var(--color-primary) / 15%);
    }
}


@layer components {
    .sidebar-active {
        @apply tw:text-primary-content tw:bg-primary;
    }

    .sidebar-item:not(.sidebar-active) {
        @apply tw:text-base-content/80 tw:hover:text-base-content;
    }

    .sidebar {
        @apply tw:z-1020 tw:fixed tw:top-0 tw:start-0 tw:h-full tw:transition-all tw:duration-100;
    }

    .sidebar-floating {
        /* Establishes the hover group and sets the collapsed/hover widths for the container */
        @apply tw:lg:w-16 tw:lg:hover:w-112;
    }

    .sidebar-floating #sidebar {
        /* Sets the collapsed/hover widths for the inner navigation element */
        @apply tw:lg:w-16 tw:lg:group-hover:w-104 tw:transition-all tw:duration-100 tw:overflow-hidden;
    }

    .sidebar-floating + main {
        /* Adjusts the main content margin to account for the collapsed sidebar */
        @apply tw:lg:ml-16 tw:transition-all tw:duration-100;
    }

    .sidebar-floating .sidebar-item span {
        /* Hides the text labels and reveals them only on hover */
        @apply tw:lg:invisible tw:lg:group-hover:visible;
    }

    .sidebar-floating .sidebar-invisible {
        /* Hides the text labels and reveals them only on hover */
        @apply tw:lg:invisible tw:lg:group-hover:visible;
    }

    .sidebar-floating .sidebar-menu-header {
        /* Hides the menu headers and reveals them only on hover */
        @apply tw:lg:hidden tw:lg:group-hover:inline;
    }

    .sidebar-floating #sidebar-toggle-btn .fa-thumbtack-slash {
        /* Hides the 'pin' icon in the floating state */
        @apply tw:hidden!;
    }

    .sidebar-floating #sidebar-toggle-btn .fa-thumbtack {
        /* Shows the 'expand' icon in the floating state */
        @apply tw:inline-block!;
    }

    .sidebar-floating .sidebar-title span {
        @apply tw:lg:invisible tw:lg:group-hover:visible
    }

    .sidebar-submenu-header {
        @apply tw:flex;
    }

    .sidebar-floating .sidebar-submenu-header {
        @apply tw:lg:hidden tw:lg:group-hover:flex;
    }

    .sidebar-floating .sidebar-submenu-header h5 {
        @apply tw:lg:invisible tw:lg:group-hover:visible;
    }

    .sidebar-floating .sidebar-submenu-header button {
        @apply tw:lg:hidden tw:lg:group-hover:inline;
    }

    .sidebar-floating .list-unstyled {
        @apply tw:group-hover:lg:overflow-y-auto tw:lg:overflow-y-hidden tw:overflow-y-auto tw:overflow-x-hidden;
    }

    .sidebar-floating .sidebar-item {
        @apply tw:text-wrap tw:lg:text-nowrap ;
    }


    /* --- STATE 2: Fixed (Permanently Expanded) --- */
    .sidebar-fixed {
        /* Sets the fixed, expanded width for the container */
        @apply tw:lg:w-[17%] tw:transition-all tw:duration-100;
    }

    .sidebar-fixed #sidebar {
        /* Sets the fixed, expanded width for the inner navigation */
        @apply tw:lg:w-[17%] tw:transition-all tw:duration-100;
    }

    .sidebar-fixed + main {
        /* Adjusts the main content margin to account for the expanded sidebar */
        @apply tw:lg:ml-[17%] tw:transition-all tw:duration-100;

        /* Using 16vw to account for padding/margins */
    }

    .sidebar-fixed .sidebar-item {
        @apply tw:text-wrap;
    }

    .sidebar-fixed .sidebar-item span {
        /* Ensures text labels are always visible */
        @apply tw:lg:visible;
    }

    .sidebar-fixed .sidebar-menu-header {
        /* Ensures menu headers are always visible */
        @apply tw:lg:inline;
    }

    .sidebar-fixed #sidebar-toggle-btn .fa-thumbtack-slash {
        /* Shows the 'pin' icon in the fixed state */
        @apply tw:inline-block!;
    }

    .sidebar-fixed #sidebar-toggle-btn .fa-thumbtack {
        /* Hides the 'expand' icon in the fixed state */
        @apply tw:hidden!;
    }

    .sidebar-fixed .sidebar-title span {
        @apply tw:lg:visible;
    }

    .sidebar-fixed .sidebar-submenu-header {
        /* Ensures menu headers are always visible */
        @apply tw:lg:flex;
    }

    .sidebar-fixed .list-unstyled  {
        @apply tw:overflow-y-auto tw:overflow-x-hidden;
    }
}
