{% load i18n %}
{% load crispy_forms_tags %}

<form _="install init_tom_select
         on change trigger updated
         init trigger updated" id="category-form">
  {% crispy category_form %}
</form>

<div class="tw:grid tw:grid-cols-1 tw:lg:grid-cols-2 tw:gap-3">
  <div class="tw:w-full">
    <div class="tw:card tw:bg-base-100 tw:shadow-xl tw:h-full">
      <div class="tw:card-header tw:bg-base-200 tw:p-4 tw:font-semibold">
        {% trans "Income/Expense by Account" %}
      </div>
      <div class="tw:card-body">
        <div id="account-card" class="show-loading" hx-get="{% url 'category_sum_by_account' %}"
             hx-trigger="updated from:window" hx-include="#category-form, #picker-form, #picker-type">
        </div>
      </div>
    </div>
  </div>
  <div class="tw:w-full">
    <div class="tw:card tw:bg-base-100 tw:shadow-xl tw:h-full">
      <div class="tw:card-header tw:bg-base-200 tw:p-4 tw:font-semibold">
        {% trans "Income/Expense by Currency" %}
      </div>
      <div class="tw:card-body">
        <div id="currency-card" class="show-loading" hx-get="{% url 'category_sum_by_currency' %}"
             hx-trigger="updated from:window" hx-include="#category-form, #picker-form, #picker-type">
        </div>
      </div>
    </div>
  </div>


</div>
