{% load i18n %}
{% load crispy_forms_tags %}

<form _="install init_tom_select
         on change trigger updated
         init trigger updated" id="category-form">
  {% crispy category_form %}
</form>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
  <div class="w-full">
    <div class="card bg-base-100 shadow-xl h-full">
      <div class="card-header bg-base-200 p-4 font-semibold">
        {% trans "Income/Expense by Account" %}
      </div>
      <div class="card-body">
        <div id="account-card" class="show-loading" hx-get="{% url 'category_sum_by_account' %}"
             hx-trigger="updated from:window" hx-include="#category-form, #picker-form, #picker-type">
        </div>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="card bg-base-100 shadow-xl h-full">
      <div class="card-header bg-base-200 p-4 font-semibold">
        {% trans "Income/Expense by Currency" %}
      </div>
      <div class="card-body">
        <div id="currency-card" class="show-loading" hx-get="{% url 'category_sum_by_currency' %}"
             hx-trigger="updated from:window" hx-include="#category-form, #picker-form, #picker-type">
        </div>
      </div>
    </div>
  </div>


</div>
