{% load i18n %}
<div class="tw:container tw:px-md-3 tw:py-3 tw:column-gap-5">
  <div class="tw:text-3xl tw:font-bold tw:font-mono tw:w-full tw:mb-3">
    {% spaceless %}
    <div>{% translate 'Accounts' %}<span>
      <a class="tw:no-underline tw:text-2xl tw:p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'account_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div class="tw:card tw:bg-base-100 tw:shadow-xl">
    <div class="tw:card-body tw:overflow-x-auto">
      {% if accounts %}
      <c-config.search></c-config.search>
      <table class="tw:table tw:table-hover tw:whitespace-nowrap">
        <thead>
          <tr>
            <th scope="col" class="tw:w-auto"></th>
            <th scope="col">{% translate 'Name' %}</th>
            <th scope="col">{% translate 'Group' %}</th>
            <th scope="col">{% translate 'Currency' %}</th>
            <th scope="col">{% translate 'Exchange Currency' %}</th>
            <th scope="col">{% translate 'Is Asset' %}</th>
            <th scope="col">{% translate 'Archived' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
          <tr class="account">
            <td class="tw:w-auto">
              <div class="tw:join" role="group" aria-label="{% translate 'Actions' %}">
                <a class="tw:btn tw:btn-secondary tw:btn-sm tw:join-item"
                      role="button"
                      data-bs-toggle="tooltip"
                      data-bs-title="{% translate "Edit" %}"
                      hx-get="{% url 'account_edit' pk=account.id %}"
                      hx-target="#generic-offcanvas">
                  <i class="fa-solid fa-pencil fa-fw"></i></a>
                <a class="tw:btn tw:btn-secondary tw:btn-sm tw:join-item tw:text-error"
                        role="button"
                        data-bs-toggle="tooltip"
                        data-bs-title="{% translate "Delete" %}"
                        hx-delete="{% url 'account_delete' pk=account.id %}"
                        hx-trigger='confirmed'
                        data-bypass-on-ctrl="true"
                        data-title="{% translate "Are you sure?" %}"
                        data-text="{% translate "You won't be able to revert this!" %}"
                        data-confirm-text="{% translate "Yes, delete it!" %}"
                        _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a>
                {% if not account.owner %}
                <a class="tw:btn tw:btn-secondary tw:btn-sm tw:join-item tw:text-primary"
                 role="button"
                 data-bs-toggle="tooltip"
                 data-bs-title="{% translate "Take ownership" %}"
                 hx-get="{% url 'account_take_ownership' pk=account.id %}">
                <i class="fa-solid fa-crown fa-fw"></i></a>
                {% endif %}
                {% if user == account.owner %}
                <a class="tw:btn tw:btn-secondary tw:btn-sm tw:join-item tw:text-primary"
                 role="button"
                 hx-target="#generic-offcanvas"
                 hx-swap="innerHTML"
                 data-bs-toggle="tooltip"
                 data-bs-title="{% translate "Share" %}"
                 hx-get="{% url 'account_share_settings' pk=account.id %}">
                <i class="fa-solid fa-share fa-fw"></i></a>
                {% endif %}
                <a class="tw:btn tw:btn-secondary tw:btn-sm tw:join-item"
                   role="button"
                   hx-get="{% url 'account_toggle_untracked' pk=account.id %}"
                   data-bs-toggle="tooltip"
                   data-bs-title="{% if account.is_untracked_by %}{% translate "Track" %}{% else %}{% translate "Untrack" %}{% endif %}">
                  {% if account.is_untracked_by %}
                    <i class="fa-solid fa-eye fa-fw"></i>
                  {% else %}
                    <i class="fa-solid fa-eye-slash fa-fw"></i>
                  {% endif %}
                </a>
              </div>
            </td>
            <td>{{ account.name }}</td>
            <td>{{ account.group.name }}</td>
            <td>{{ account.currency }}</td>
            <td>{% if account.exchange_currency %}{{ account.exchange_currency }}{% else %}-{% endif %}</td>
            <td>{% if account.is_asset %}<i class="fa-solid fa-solid fa-check tw:text-success"></i>{% endif %}</td>
            <td>{% if account.is_archived %}<i class="fa-solid fa-solid fa-check tw:text-success"></i>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <c-msg.empty title="{% translate "No accounts" %}" remove-padding></c-msg.empty>
      {% endif %}
    </div>
  </div>
</div>
