{% load i18n %}
{% load toast_bg %}
{% if messages %}
  {% for message in messages %}
      <div class="tw:alert tw:alert-{{ message.tags | toast_bg }}"
           role="alert"
           aria-live="assertive"
           aria-atomic="true">
          <div class="tw:flex tw:items-center tw:justify-between tw:w-full">
              <div class="tw:flex tw:items-center tw:gap-2">
                  <i class="{{ message.tags | toast_icon }} fa-fw"></i>
                  <div>
                      <strong>{{ message.tags | toast_title }}</strong>
                      <div>{{ message }}</div>
                  </div>
              </div>
              <button type="button"
                      class="tw:btn tw:btn-ghost tw:btn-sm tw:btn-circle"
                      data-bs-dismiss="toast"
                      aria-label={% translate 'Close' %}>
                  <i class="fa-solid fa-xmark"></i>
              </button>
          </div>
      </div>
  {% endfor %}
{% endif %}
