{% load i18n %}
<div class="container px-md-3 py-3 column-gap-5">
  <div class="tw:text-3xl fw-bold font-monospace tw:w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Tags' %}<span>
      <a class="text-decoration-none tw:text-2xl p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'tag_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" hx-get="{% url 'tags_table_active' %}" hx-trigger="load, click" hx-target="#tags-table">{% translate 'Active' %}</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" hx-get="{% url 'tags_table_archived' %}" hx-target="#tags-table" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">{% translate 'Archived' %}</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div id="tags-table"></div>
    </div>
  </div>
</div>
