{% extends 'extends/offcanvas.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Runs for' %} {{ profile.name }}{% endblock %}

{% block body %}
  <div hx-get="{% url "import_profile_runs_list" profile_id=profile.id %}"
       hx-trigger="updated from:window"
       hx-target="closest .offcanvas"
       class="show-loading"
       hx-swap="show:none scroll:none">
    {% if runs %}
    <div class="tw:grid tw:grid-cols-1 tw:gap-4">
    {% for run in runs %}
      <div class="col">
        <div class="tw:card tw:bg-base-100 tw:shadow-xl">
          <div class="tw:card-header tw:bg-base-200 tw:p-4 tw:text-sm {% if run.status == run.Status.QUEUED %}tw:text-base-content{% elif run.status == run.Status.PROCESSING %}tw:text-warning{% elif run.status == run.Status.FINISHED %}tw:text-success{% else %}tw:text-error{% endif %}">
            <span><i class="fa-solid {% if run.status == run.Status.QUEUED %}fa-hourglass-half{% elif run.status == run.Status.PROCESSING %}fa-spinner{% elif run.status == run.Status.FINISHED %}fa-check{% else %}fa-xmark{% endif %} fa-fw tw:me-2"></i>{{ run.get_status_display }}</span>
          </div>
          <div class="tw:card-body">
            <h5 class="tw:card-title"><i class="fa-solid fa-hashtag tw:me-1 tw:text-xs tw:text-gray-400"></i>{{ run.id }}<span class="tw:text-xs tw:text-gray-400 tw:ms-1">({{ run.file_name }})</span></h5>
            <hr>
            <div class="tw:grid tw:grid-cols-1 tw:md:grid-cols-2 tw:lg:grid-cols-3 tw:w-full tw:gap-4">
              <div class="col">
                <div class="tw:flex tw:flex-row">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:text-base-content/70 tw:text-xs tw:font-medium">
                      {% trans 'Total Items' %}
                    </div>
                    <div class="tw:text-sm">
                      {{ run.total_rows }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="tw:flex tw:flex-row">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:text-base-content/70 tw:text-xs tw:font-medium">
                      {% trans 'Processed Items' %}
                    </div>
                    <div class="tw:text-sm">
                      {{ run.processed_rows }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="tw:flex tw:flex-row">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:text-base-content/70 tw:text-xs tw:font-medium">
                      {% trans 'Skipped Items' %}
                    </div>
                    <div class="tw:text-sm">
                      {{ run.skipped_rows }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="tw:flex tw:flex-row">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:text-base-content/70 tw:text-xs tw:font-medium">
                      {% trans 'Failed Items' %}
                    </div>
                    <div class="tw:text-sm">
                      {{ run.failed_rows }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="tw:flex tw:flex-row">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:text-base-content/70 tw:text-xs tw:font-medium">
                      {% trans 'Successful Items' %}
                    </div>
                    <div class="tw:text-sm">
                      {{ run.successful_rows }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tw:card-footer tw:bg-base-200 tw:p-4 tw:text-base-content/70">
            <a class="tw:no-underline tw:text-info"
               role="button"
               data-bs-toggle="tooltip"
               data-bs-title="{% translate "Logs" %}"
               hx-get="{% url 'import_run_log' profile_id=profile.id run_id=run.id %}"
               hx-target="#generic-offcanvas"><i class="fa-solid fa-file-lines"></i></a>
            <a class="tw:no-underline tw:text-error"
               role="button"
               data-bs-toggle="tooltip"
               data-bs-title="{% translate "Delete" %}"
               hx-delete="{% url 'import_run_delete' profile_id=profile.id run_id=run.id %}"
               hx-trigger='confirmed'
               data-bypass-on-ctrl="true"
               data-title="{% translate "Are you sure?" %}"
               data-text="{% translate "You won't be able to revert this! All imported items will be kept." %}"
               data-confirm-text="{% translate "Yes, delete it!" %}"
               _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <c-msg.empty title="{% translate "No runs yet" %}"></c-msg.empty>
    {% endif %}
  </div>
  </div>
{% endblock %}
