{% extends 'extends/offcanvas.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Transactions on' %} {{ date|date:"SHORT_DATE_FORMAT" }}{% endblock %}

{% block body %}
<div hx-get="{% url 'calendar_transactions_list' day=date.day month=date.month year=date.year %}" hx-trigger="updated from:window" hx-vals='{"disable_selection": true}'  hx-target="closest .offcanvas" class="show-loading" id="transactions-list">
  {% for transaction in transactions %}
    <c-transaction.item :transaction="transaction"></c-transaction.item>
  {% empty %}
    <c-msg.empty
        title="{% translate 'No transactions on this date' %}"></c-msg.empty>
  {% endfor %}
  {# Floating bar #}
  <c-ui.transactions-action-bar></c-ui.transactions-action-bar>
</div>
{% endblock %}
