{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="form-control{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        <label class="label cursor-pointer justify-start gap-2">
            <span class="label-text">{{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</span>
            {% if field.errors %}
                {% crispy_field field 'class' 'toggle toggle-error' 'role' 'switch' %}
            {% else %}
                {% crispy_field field 'class' 'toggle' 'role' 'switch' %}
            {% endif %}
        </label>
        {% include 'crispy-daisyui/layout/help_text_and_errors.html' %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
