{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load month_name %}
{% load static %}

{% block title %}{% translate 'Monthly Overview' %} :: {{ month|month_name }}/{{ year }}{% endblock %}

{% block body_hyperscript %}
  on keyup[code is 'ArrowLeft' and target.nodeName is 'BODY'] from body trigger 'previous_month' end
  on keyup[code is 'ArrowRight' and target.nodeName is 'BODY'] from body trigger 'next_month' end
{% endblock %}

{% block content %}
  <div class="container gap-y-3">
    <div class="row mt-7 mb-5">
      <div class="col-12 lg:col-4">
        {#    Date picker#}
        <div class="flex flex-row items-center">
          <div class="text-base h-full flex items-center btn btn-ghost">
            <a role="button"
              hx-boost="true"
              hx-trigger="click, previous_month from:window"
              href="{% url 'monthly_overview' month=previous_month year=previous_year %}"><i
                class="fa-solid fa-chevron-left"></i></a>
          </div>
          <div class="text-2xl font-bold btn btn-ghost flex-1 text-center whitespace-normal flex-wrap h-auto min-w-0"
              hx-get="{% url 'month_year_picker' %}"
              hx-target="#generic-offcanvas-left"
              hx-trigger="click, date_picker from:window"
              hx-vals='{"month": {{ month }}, "year": {{ year }}, "for": "monthly_overview", "field": "reference_date"}'
              role="button">
            {{ month|month_name }} {{ year }}
          </div>
          <div class="text-base h-full flex items-center btn btn-ghost">
            <a role="button"
              hx-boost="true"
              hx-trigger="click, next_month from:window"
              href="{% url 'monthly_overview' month=next_month year=next_year %}">
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    {#  Monthly summary#}
    <div class="row gap-y-3">
      <div class="col-12 lg:col-4 lg:order-last! order-first!">
        <div role="tablist" class="tabs tabs-border">
          <input type="radio" name="monthly_summary_tabs" class="tab" aria-label="{% trans 'Summary' %}"
                 role="tab"
                 {% if summary_tab == 'summary' or not summary_tab %}checked="checked"{% endif %}
                 _="on click fetch {% url 'monthly_summary_select' selected='summary' %}"
                 aria-controls="summary-tab-pane" />
          <div class="tab-content" id="summary-tab-pane" role="tabpanel">
            <div id="summary"
                 hx-get="{% url 'monthly_summary' month=month year=year %}"
                 class="show-loading"
                 hx-trigger="load, updated from:window, selective_update from:window, every 10m">
            </div>
          </div>

          <input type="radio" name="monthly_summary_tabs" class="tab" aria-label="{% trans 'Currencies' %}"
                 role="tab"
                 {% if summary_tab == 'currency' %}checked="checked"{% endif %}
                 _="on click fetch {% url 'monthly_summary_select' selected='currency' %}"
                 aria-controls="currency-tab-pane" />
          <div class="tab-content" id="currency-tab-pane" role="tabpanel">
            <div id="currency-summary"
                 hx-get="{% url 'monthly_currency_summary' month=month year=year %}"
                 class="show-loading"
                 hx-trigger="load, updated from:window, selective_update from:window, every 10m">
            </div>
          </div>

          <input type="radio" name="monthly_summary_tabs" class="tab" aria-label="{% trans 'Accounts' %}"
                 role="tab"
                 {% if summary_tab == 'account' %}checked="checked"{% endif %}
                 _="on click fetch {% url 'monthly_summary_select' selected='account' %}"
                 aria-controls="account-tab-pane" />
          <div class="tab-content" id="account-tab-pane" role="tabpanel">
            <div id="account-summary"
                 hx-get="{% url 'monthly_account_summary' month=month year=year %}"
                 class="show-loading"
                 hx-trigger="load, updated from:window, selective_update from:window, every 10m">
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 lg:col-8 lg:order-first! order-last!">

        <div class="my-3">
          {# Hidden select to hold the order value and preserve the original update trigger #}
          <select name="order" id="order" class="d-none" _="on change trigger updated on window">
            <option value="default" {% if order == 'default' %}selected{% endif %}>{% translate 'Default' %}</option>
            <option value="older" {% if order == 'older' %}selected{% endif %}>{% translate 'Oldest first' %}</option>
            <option value="newer" {% if order == 'newer' %}selected{% endif %}>{% translate 'Newest first' %}</option>
          </select>

          {# Main control bar with filter, search, and ordering #}
          <div class="join w-full">

            <button class="btn btn-secondary join-item relative" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse-filter"
                    aria-expanded="false" aria-controls="collapse-filter" id="filter-button" hx-preserve
                    title="{% translate 'Filter transactions' %}">
              <i class="fa-solid fa-filter fa-fw"></i>
            </button>

            {# Search box #}
            <label for="quick-search" class="hidden">
            </label>
            <input type="search"
                   class="input input-bordered join-item flex-1"
                   placeholder="{% translate 'Search' %}"
                   hx-preserve
                   id="quick-search"
                   _="on input or search or htmx:afterSwap from window
                         if my value is empty
                           trigger toggle on <.transactions-divider-collapse/>
                         else
                           trigger show on <.transactions-divider-collapse/>
                         end
                         show <.transactions-divider-title/> when my value is empty
                         show <.transaction/> in <#transactions-list/>
                         when its textContent.toLowerCase() contains my value.toLowerCase()">

            {# Order by icon dropdown #}
            <div>
              <button class="btn btn-secondary join-item" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false"
                      title="{% translate 'Order by' %}">
                <i class="fa-solid fa-sort fa-fw"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end menu">
                <li>
                  <button class="{% if order == 'default' %}menu-active{% endif %}" type="button"
                          _="on click remove .menu-active from <li > button/> in the closest <ul/>
                            then add .menu-active to me
                            then set the value of #order to 'default'
                            then trigger change on #order">
                    {% translate 'Default' %}
                  </button>
                </li>
                <li>
                  <button class="{% if order == 'older' %}menu-active{% endif %}" type="button"
                          _="on click remove .menu-active from <li > button/> in the closest <ul/>
                            then add .menu-active to me
                            then set the value of #order to 'older'
                            then trigger change on #order">
                    {% translate 'Oldest first' %}
                  </button>
                </li>
                <li>
                  <button class="{% if order == 'newer' %}menu-active{% endif %}" type="button"
                          _="on click remove .menu-active from <li > button/> in the closest <ul/>
                            then add .menu-active to me
                            then set the value of #order to 'newer'
                            then trigger change on #order">
                    {% translate 'Newest first' %}
                  </button>
                </li>
              </ul>
            </div>
          </div>

          {# Filter transactions form #}
          <div class="bs collapse z-1" id="collapse-filter" hx-preserve>
            <div class="card card-body bg-base-200 mt-2">
              <div class="text-right">
                <button class="btn btn-outline btn-error btn-sm w-fit"
                        _="on click call #filter.reset() then trigger change on #filter">{% translate 'Clear' %}</button>
              </div>

              <form _="on change or submit or search trigger updated on window
                         install init_tom_select
                         install init_datepicker"
                    id="filter" class="mt-3">
                {% crispy filter.form %}
              </form>

              <div class="text-right">
                <button class="btn btn-outline btn-error btn-sm w-fit"
                        _="on click call #filter.reset() then trigger change on #filter">{% translate 'Clear' %}</button>
              </div>
            </div>
          </div>
        </div>
        {#      Transactions list#}
        <div id="transactions"
             class="show-loading"
             hx-get="{% url 'monthly_transactions_list' month=month year=year %}"
             hx-trigger="load, updated from:window, every 10m" hx-include="#filter, #order">
        </div>
      </div>
    </div>
  </div>

  <c-ui.transactions_fab></c-ui.transactions_fab>

{% endblock %}
