{% load i18n %}
<div class="container px-md-3 py-3 column-gap-5">
  <div class="text-3xl font-bold font-mono w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Installment Plans' %}<span>
      <a class="no-underline text-2xl p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'installment_plan_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-header bg-base-200 p-4">
      <div role="tablist" class="tabs tabs-lifted">
        <button class="tab tab-active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" hx-get="{% url 'active_installment_plans_list' %}" hx-trigger="load, click" hx-target="#installment-plans-table">{% translate 'All' %}</button>
        <button class="tab" hx-get="{% url 'finished_installment_plans_list' %}" hx-target="#installment-plans-table" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">{% translate 'Finished' %}</button>
      </div>
    </div>

    <div class="card-body">
      <div id="installment-plans-table"></div>
    </div>

  </div>
</div>
