{% load i18n %}
<div class="offcanvas-header tw:flex tw:justify-between tw:items-center">
  <h5 class="offcanvas-title tw:font-medium tw:text-xl">{% block title %}{% endblock %}</h5>
  <button type="button" class="tw:btn tw:btn-ghost tw:btn-sm tw:btn-circle" aria-label="{% trans 'Close' %}" data-bs-dismiss="offcanvas"><i class="fa-solid fa-xmark"></i></button>
</div>
<div id="generic-offcanvas-body" class="offcanvas-body"
     _="install init_tom_select
        install init_datepicker">
  {% block body %}{% endblock %}
</div>
