{% load i18n %}
{% if currency_data.labels %}
<div class="chart-container" style="position: relative; height:400px; width:100%"
     _="init call setupCurrencyChart() end">
  <canvas id="currencyChart"></canvas>
</div>

<script>
    // Get the data from your Django view (passed as JSON)
    var currencyData = {{ currency_data|safe }};

    function setupCurrencyChart() {
        var chartOptions = {
            indexAxis: 'y',  // This makes the chart horizontal
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    stacked: true,  // Enable stacking on the x-axis
                    title: {
                        display: false,
                    },
                },
                y: {
                    stacked: true,  // Enable stacking on the y-axis
                    title: {
                        display: false,
                    },
                }
            },
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            if (context.parsed.x !== null) {
                                return new Intl.NumberFormat(undefined).format(Math.abs(context.parsed.x)); // Using abs for display
                            }
                            return "";
                        },
                    }
                }
            }
        };

        new Chart(
            document.getElementById('currencyChart'),
            {
                type: 'bar',
                data: {
                    labels: currencyData.labels,
                    datasets: [
                        {
                            label: "{% trans 'Income' %}",
                            data: currencyData.datasets[0].data,
                            backgroundColor: '#4dde80',
                            stack: 'stack0'
                        },
                        {
                            label: "{% trans 'Expenses' %}",
                            data: currencyData.datasets[1].data,
                            backgroundColor: '#f87171',
                            stack: 'stack0'
                        }
                    ]
                },
                options: {
                    ...chartOptions,
                    plugins: {
                        ...chartOptions.plugins,
                        title: {
                            display: false,
                        }
                    }
                }
            }
        );
    }
</script>
{% else %}
<c-msg.empty title="{% translate "No information to display" %}"></c-msg.empty>
{% endif %}
