{% load active_link %}
<li>
  <a href="{{ url }}"
     hx-boost="false"
     class="lg:text-sm flex items-center no-underline p-2 rounded-3xl sidebar-item {% active_link views=active css_class="sidebar-active" %}"
      {% if tooltip %}
     data-bs-placement="right"
     data-bs-toggle="tooltip"
     data-bs-title="{{ tooltip }}"
      {% endif %}>

    <i class="{{ icon }} fa-fw"></i>
    <span
        class="ms-3 font-medium lg:group-hover:truncate lg:group-focus:truncate lg:group-hover:text-ellipsis lg:group-focus:text-ellipsis">{{ title }}</span>
  </a>
</li>
