<li class="tw:lg:hidden tw:lg:group-hover:block">
  <div class="tw:flex tw:items-center" data-bs-toggle="collapse" href="#{{ title|slugify }}" role="button"
       aria-expanded="false" aria-controls="{{ title|slugify }}">
    <span
        class="tw:text-base-content/60 tw:text-sm tw:font-bold tw:uppercase tw:lg:hidden tw:lg:group-hover:inline tw:me-2">{{ title }}</span>
    <hr class="tw:flex-grow"/>
    <i class="fas fa-chevron-down tw:text-base-content/60 tw:lg:before:hidden tw:lg:group-hover:before:inline tw:ml-2 tw:lg:ml-0 tw:lg:group-hover:ml-2"></i>
  </div>
</li>
<div class="tw:collapse tw:lg:hidden tw:lg:group-hover:block" id="{{ title|slugify }}">
  {{ slot }}
</div>
