{% load active_link %}
<li>
  <a href="{{ url }}"
     hx-boost="false"
     class="tw:lg:text-sm tw:flex tw:items-center tw:no-underline tw:p-2 tw:rounded-3xl sidebar-item {% active_link views=active css_class="sidebar-active" %}"
      {% if tooltip %}
     data-bs-placement="right"
     data-bs-toggle="tooltip"
     data-bs-title="{{ tooltip }}"
      {% endif %}>

    <i class="{{ icon }} fa-fw"></i>
    <span
        class="tw:ms-3 tw:font-medium tw:lg:group-hover:truncate tw:lg:group-focus:truncate tw:lg:group-hover:text-ellipsis tw:lg:group-focus:text-ellipsis">{{ title }}</span>
  </a>
</li>
