<div id="generic-offcanvas" class="offcanvas offcanvas-end offcanvas-size-xl"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call bootstrap.Offcanvas.getOrCreateInstance(me).show() end
        on hide_offcanvas call bootstrap.Offcanvas.getOrCreateInstance(me).hide() end
        on htmx:beforeOnLoad[detail.boosted] call bootstrap.Offcanvas.getOrCreateInstance(me).hide() then log event
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>
<div id="generic-offcanvas-left" class="offcanvas offcanvas-start offcanvas-size-xl"
     data-bs-backdrop="static"
     tabindex="-1"
     _="on htmx:afterSettle call bootstrap.Offcanvas.getOrCreateInstance(me).show() end
        on hide_offcanvas call bootstrap.Offcanvas.getOrCreateInstance(me).hide() end
        on htmx:beforeOnLoad[detail.boosted] call bootstrap.Offcanvas.getOrCreateInstance(me).hide() then log event
        on hidden.bs.offcanvas set my innerHTML to '' end">
</div>
