{% load django_vite %}

{% vite_hmr_client %}
{% vite_asset 'main.js' defer="defer" %}

{% include 'includes/scripts/hyperscript/init_tom_select.html' %}
{% include 'includes/scripts/hyperscript/init_date_picker.html' %}
{% include 'includes/scripts/hyperscript/hide_amount.html' %}
{% include 'includes/scripts/hyperscript/tooltip.html' %}
{% include 'includes/scripts/hyperscript/htmx_error_handler.html' %}
{% include 'includes/scripts/hyperscript/sounds.html' %}
{% include 'includes/scripts/hyperscript/swal.html' %}
{% include 'includes/scripts/hyperscript/autosize.html' %}

<script defer>
let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
if (!tz) {
    tz = "UTC"
}
document.cookie = "mytz=" + tz + ";path=/";
</script>
