{% load i18n %}
<div class="tw:container tw:px-md-3 tw:py-3 tw:column-gap-5">
  <div class="tw:text-3xl tw:font-bold tw:font-mono tw:w-full tw:mb-3">
    {% spaceless %}
    <div>{% translate 'Categories' %}<span>
      <a class="tw:no-underline tw:text-2xl tw:p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'category_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div class="tw:card tw:bg-base-100 tw:shadow-xl">
    <div class="tw:card-header tw:bg-base-200 tw:p-4">
      <div role="tablist" class="tw:tabs tw:tabs-lifted">
        <button class="tw:tab tw:tab-active" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" hx-get="{% url 'categories_table_active' %}" hx-trigger="load, click" hx-target="#categories-table">{% translate 'Active' %}</button>
        <button class="tw:tab" hx-get="{% url 'categories_table_archived' %}" hx-target="#categories-table" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">{% translate 'Archived' %}</button>
      </div>
    </div>
    <div class="tw:card-body">
      <div id="categories-table"></div>
    </div>
  </div>
</div>
