{% load i18n %}
<div class="container px-md-3 py-3 column-gap-5">
  <div class="tw-text-3xl fw-bold font-monospace tw-w-full mb-3">
    {% spaceless %}
    <div>{% translate 'Categories' %}<span>
      <a class="text-decoration-none tw-text-2xl p-1 category-action"
                role="button"
                data-bs-toggle="tooltip"
                data-bs-title="{% translate "Add" %}"
                hx-get="{% url 'category_add' %}"
                hx-target="#generic-offcanvas">
            <i class="fa-solid fa-circle-plus fa-fw"></i></a>
    </span></div>
    {% endspaceless %}
  </div>

  <div class="border p-3 rounded-3 table-responsive">
    {% if categories %}
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-auto"></th>
        <th scope="col" class="col">{% translate 'Name' %}</th>
        <th scope="col" class="col">{% translate 'Muted' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr class="category">
        <td class="col-auto text-center">
          <div class="btn-group" role="group" aria-label="{% translate 'Actions' %}">
            <a class="btn btn-secondary btn-sm"
                  role="button"
                  data-bs-toggle="tooltip"
                  data-bs-title="{% translate "Edit" %}"
                  hx-get="{% url 'category_edit' category_id=category.id %}"
                  hx-target="#generic-offcanvas">
              <i class="fa-solid fa-pencil fa-fw"></i></a>
            <a class="btn btn-secondary btn-sm text-danger"
                    role="button"
                    data-bs-toggle="tooltip"
                    data-bs-title="{% translate "Delete" %}"
                    hx-delete="{% url 'category_delete' category_id=category.id %}"
                    hx-trigger='confirmed'
                    data-bypass-on-ctrl="true"
                    data-title="{% translate "Are you sure?" %}"
                    data-text="{% translate "You won't be able to revert this!" %}"
                    data-confirm-text="{% translate "Yes, delete it!" %}"
                    _="install prompt_swal"><i class="fa-solid fa-trash fa-fw"></i></a>
          </div>
        </td>
        <td class="col">{{ category.name }}</td>
        <td class="col">
          {% if category.mute %}<i class="fa-solid fa-check text-success"></i>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <c-msg.empty title="{% translate "No categories" %}" remove-padding></c-msg.empty>
    {% endif %}
  </div>
</div>
