{% extends 'extends/offcanvas.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Transactions' %}{% endblock %}

{% block body %}
<div hx-get="{% url 'recurring_transaction_transactions' recurring_transaction_id=recurring_transaction.id %}" hx-trigger="updated from:window" hx-vals='{"disable_selection": true}' hx-target="closest .offcanvas" class="show-loading" id="transactions-list">
  {% for transaction in transactions %}
    <c-transaction.item :transaction="transaction"></c-transaction.item>
  {% endfor %}
  {# Floating bar #}
  <c-ui.transactions-action-bar></c-ui.transactions-action-bar>
</div>
{% endblock %}
